@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Bold.eot');
  src:
    local('Mabry Pro Bold'),
    local('MabryPro-Bold'),
    url('/public/fonts/mabry/MabryPro-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Bold.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Bold.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Medium.eot');
  src:
    local('Mabry Pro Medium'),
    local('MabryPro-Medium'),
    url('/public/fonts/mabry/MabryPro-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Medium.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Medium.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Black.eot');
  src:
    local('Mabry Pro Black'),
    local('MabryPro-Black'),
    url('/public/fonts/mabry/MabryPro-Black.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Black.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Black.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-LightItalic.eot');
  src:
    local('Mabry Pro Light Italic'),
    local('MabryPro-LightItalic'),
    url('/public/fonts/mabry/MabryPro-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-LightItalic.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-LightItalic.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-BoldItalic.eot');
  src:
    local('Mabry Pro Bold Italic'),
    local('MabryPro-BoldItalic'),
    url('/public/fonts/mabry/MabryPro-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-BoldItalic.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-BoldItalic.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Light.eot');
  src:
    local('Mabry Pro Light'),
    local('MabryPro-Light'),
    url('/public/fonts/mabry/MabryPro-Light.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Light.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Light.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-BlackItalic.eot');
  src:
    local('Mabry Pro Black Italic'),
    local('MabryPro-BlackItalic'),
    url('/public/fonts/mabry/MabryPro-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-BlackItalic.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-BlackItalic.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-MediumItalic.eot');
  src:
    local('Mabry Pro Medium Italic'),
    local('MabryPro-MediumItalic'),
    url('/public/fonts/mabry/MabryPro-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-MediumItalic.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-MediumItalic.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Italic.eot');
  src:
    local('Mabry Pro Italic'),
    local('MabryPro-Italic'),
    url('/public/fonts/mabry/MabryPro-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Italic.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Italic.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mabry Pro';
  src: url('/public/fonts/mabry/MabryPro-Regular.eot');
  src:
    local('Mabry Pro'),
    local('MabryPro-Regular'),
    url('/public/fonts/mabry/MabryPro-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/mabry/MabryPro-Regular.woff2') format('woff2'),
    url('/public/fonts/mabry/MabryPro-Regular.woff') format('woff'),
    url('/public/fonts/mabry/MabryPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body,
html {
  @apply min-h-screen font-mabry;
}
