<div class="container-margins">

  <header class="flex items-center justify-between">
    <div>
      <img class="w-40" src="<%= asset_pack_path 'static/assets/images/logo.svg' %>" alt="Header logo">
    </div>

    <div>
      <%# TODO: Add dashboard link %>
      <% if creator_signed_in? %>
        <SignOutButton />
        <%= react_component("SignOutButton") %>
      <% else %>
        <a href="/creators/sign_in">
          <%= react_component("Button", props: { children: 'Sign In' }) %>
        </a>
      <% end %>
    </div>
  </header>

  <div class="mt-10 text-center">
    <p class="text-xl md:text-3xl">Gumroad website builder</p>
    <p class="mt-2">
      by
      <a class="border-b border-dotted" href="https://afnan.dev">
        Afnan Shaikh
      </a>
    </p>
  </div>

</div>
