<h1>Gumroad Home</h1>

<% if creator_signed_in? %>
  Welcome, <%= current_creator.email %>
  <%= button_to('Sign Out', destroy_creator_session_path, method: :delete) %>
<% end %>
<% unless creator_signed_in? %>
  <%= link_to('Sign In', new_creator_session_path) %>
<% end %>

<%= react_component("Hello", props: {content: 'Hello'}, prerender: false) %>
