<div class="min-h-screen md:grid md:grid-cols-5">
  <div class="col-span-3 container-margins">
    <header class="flex items-center justify-between ">
      <div>
        <img class="w-36" src="/images/logo.svg" alt="Header logo" />
      </div>

      <div>
        <a href="/creators/sign_up" class="underline">
          Sign Up
        </a>
      </div>
    </header>

    <%= react_component("AuthForm", props: {type: 'signin'}) %>
  </div>

  <div class="justify-center hidden max-h-screen col-span-2 align-middle bg-black md:flex">
    <img src="/images/auth-bg.webp" alt="Auth background image" class="object-cover max-w-full min-h-full">
  </div>
</div>
