@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mabry';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/fonts/mabry.woff2') format('woff2');
}

body,
html {
  @apply min-h-screen;
}
